Slicer_Extension/flywheel_connect/flywheel_connect.pyc
Slicer_Extension/.DS_Store
Slicer_Extension/flywheel_connect/flywheel_connect.pyc
Slicer_Extension/flywheel_connect/flywheel_connect.pyc
Slicer_Extension/flywheel_connect/__pycache__/flywheel_connect.cpython-36.pyc
